# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

https://www.figma.com/file/zWDhnmywcWRAEAipov5hEv/Gastro_Angel?type=design&node-id=487-2&mode=design&t=2tZl7NvwVxrNQH4H-0
