.about {
  @media (min-width: 576px) {
    height: auto;
  }
  @media (max-width: 576px) and (max-height: 768px) {
    height: calc(80vh + 325px);
  }
  @media (max-width: 576px) and (min-height: 768px) {
    height: calc(80vh + 220px);
  }
  width: 100vw;
  background-color: #181818;
  display: flex;
  align-items: center; /* Centers the text vertically */
  justify-content: center; /* Centers the text horizontally */
}
.about-ctr {
  height: 100%;
  width: 100%;
}

.bg-about {
  flex: 0 0 auto;
  width: 16.66666667%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.bg-about span {
  width: 100%;
  font-size: clamp(50px, 6vw, 120px);
  display: flex;
  /* align-items: center; */
  /* justify-content: flex-start; */
  /* transform-origin: center; */
  transform: rotate(90deg);
}
.bg-broch {
  position: relative;
  overflow: hidden;

  & img {
    height: 120%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    /* animation: float 2s ease-in-out infinite; */
  }
}

.fork_block_md {
  position: relative;

  & .text {
    background-color: #090909;
    width: 80%;
    display: flex;
    align-items: center;
    color: #21202059;

    & span {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      display: inline-block;
      font-weight: 700;
      @media (min-width: 1920px) {
        font-size: 6rem;
        padding: 2rem 4rem 2rem 0;
      }
      @media (min-width: 1400px) and (max-width: 1920px) {
        font-size: 5rem;
        padding: 2rem 4rem 2rem 0;
      }
      @media (min-width: 1200px) and (max-width: 1400px) {
        font-size: 5rem;
        padding: 2rem 2rem 2rem 0;
      }
      @media (min-width: 992px) and (max-width: 1200px) {
        font-size: 4rem;
        padding: 2rem 3rem 2rem 0;
      }
      @media (min-width: 768px) and (max-width: 992px) {
        font-size: 3rem;
        padding: 2rem 1rem 2rem 0;
      }
      @media (min-width: 576px) and (max-width: 768px) {
        font-size: 3rem;
        padding: 2rem 0 2rem 0;
      }
    }
  }

  & .img {
    position: absolute;
    @media (min-width: 1920px) {
      width: 40%;
      bottom: -250px;
      right: 3%;
    }
    @media (min-width: 1650px) and (max-width: 1920px) {
      width: 40%;
      bottom: -200px;
      right: 3%;
    }
    @media (min-width: 1400px) and (max-width: 1650px) {
      width: 45%;
      bottom: -200px;
      right: 3%;
    }
    @media (min-width: 1200px) and (max-width: 1400px) {
      width: 50%;
      bottom: -200px;
      right: 3%;
    }
    @media (min-width: 992px) and (max-width: 1200px) {
      width: 55%;
      bottom: -200px;
      right: 3%;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      width: 60%;
      bottom: -150px;
      right: 3%;
    }
    @media (min-width: 576px) and (max-width: 768px) {
      width: 70%;
      bottom: -115px;
      right: 0%;
    }
  }
}

.bg-ma9la {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.ma9la-dot-outer-container {
  position: absolute;
  @media (max-width: 576px) {
    top: -50%;
  }
  display: flex;
  align-items: center;
  justify-content: center;
}
.ma9la-dot-container {
  position: relative;
  max-width: 300px;
  max-height: 300px;
  border: 1px solid rgba(218, 160, 93, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    width: 100%;
    object-fit: contain;
    /* animation: float 2s ease-in-out infinite; */
  }
}

.ma9la-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  /* animation: circle6 5s linear infinite; */
}

@keyframes circle6 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(150px) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(150px)
      rotate(-360deg);
  }
}

.bg-content {
  display: flex;
  align-items: center;
  @media (min-width: 768px) {
    padding: 4rem 0 5rem;
  }
  @media (min-width: 576px) and (max-width: 768px) {
    padding: 4rem 0 6rem;
  }
  @media (max-width: 576px) {
    height: fit-content;
    padding-top: 3rem;
  }
}

.text-content-about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  margin-bottom: 10%;
  & h1 {
    @media (min-width: 576px) {
      font-size: clamp(1rem, 4vw, 4rem);
    }
    @media (max-width: 576px) {
      font-size: clamp(3rem, 6vw, 6rem);
      letter-spacing: 0.45rem;
    }
    letter-spacing: 0.35px;
    font-weight: bold;
    font-family: "Copperplate", sans-serif;
    color: #fff;
    margin-left: 0.5rem;
  }
  & h2 {
    letter-spacing: 0.35px;
    font-weight: bold;
    font-family: "Copperplate", sans-serif;
    color: #daa05d;
    margin-left: 0.5rem;
    @media (min-width: 768px) {
      font-size: clamp(1rem, 2.5vw, 2.5rem);
    }
    @media (min-width: 576px) and (max-width: 768px) {
      font-size: clamp(0.8rem, 2.5vw, 2rem);
    }
    @media (max-width: 576px) {
      font-size: 2.8rem;
    }
  }
  & h6 {
    font-weight: 300;
    font-family: "Copperplate", sans-serif;
    color: #daa05d;
    text-transform: uppercase;
    @media (min-width: 768px) {
      font-size: clamp(1rem, 2vw, 2rem);
    }
    @media (min-width: 576px) and (max-width: 768px) {
      font-size: clamp(0.8rem, 2vw, 1.7rem);
    }
    @media (max-width: 576px) {
      font-size: 1.8rem;
    }
  }
  & h5 {
    font-weight: 300;
    font-family: "Freestyle Script", cursive;
    color: #fff;
    @media (min-width: 768px) {
      font-size: clamp(2rem, 2.5vw, 2.5rem);
    }
    @media (min-width: 576px) and (max-width: 768px) {
      font-size: clamp(1.5rem, 2.5vw, 2rem);
    }
    @media (max-width: 576px) {
      font-size: 3rem;
    }
  }
  & p {
    text-align: center;
    color: #fff;
    font-family: "Microsoft YaHei", sans-serif;
    margin-bottom: 0 !important;
    @media (min-width: 768px) {
      font-size: clamp(10px, 1vw, 12px);
    }
    @media (min-width: 576px) and (max-width: 768px) {
      font-size: clamp(8px, 1vw, 10px);
    }
    @media (max-width: 576px) {
      font-size: 0.8rem;
    }
  }
  & img {
    margin: 0 auto;
    object-fit: cover;
    @media (min-width: 1400px) {
      width: 60%;
    }
    @media (min-width: 1200px) and (max-width: 1400px) {
      width: 80%;
    }
    @media (min-width: 992px) and (max-width: 1200px) {
      width: 85%;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      width: 100%;
      margin-bottom: 0.5rem;
    }
    @media (min-width: 576px) and (max-width: 768px) {
      width: 100%;
      margin-bottom: 0.5rem;
    }
    @media (min-width: 425px) and (max-width: 576px) {
      width: 80%;
      margin-bottom: 0.5rem;
    }
    @media (max-width: 425px) {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
}

.about-btn {
  position: relative;
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.about-outer-container {
  margin-top: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
}
.about-dot-container {
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid rgba(218, 160, 93, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  & p {
    position: absolute;
    font-size: clamp(14px, 2vw, 18px);
    font-weight: 400;
    font-family: "Copperplate", sans-serif;
  }
  & p:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  }
}
.about-inner-circle {
  position: relative;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(218, 160, 93, 0.5);
  border-radius: 50%;
  transform: translate(-13%, -12%);
  background-color: rgba(28, 28, 28, 1);
  z-index: -1;
}

.about-dot {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  /* animation: circle5 5s linear infinite; */
}

@keyframes circle5 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(40px) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(40px)
      rotate(-360deg);
  }
}

.bg-content {
  display: flex;
  align-items: center;
}

/* ********** query ************ */

@media (min-width: 576px) and (max-width: 1024px) {
  .ma9la-dot-container {
    max-width: 200px;
    max-height: 200px;
    & img {
      margin-top: 30px;
      width: 90%;
    }
  }

  @keyframes circle3 {
    0% {
      transform: translate(-50%, -50%) rotate(0deg) translateX(100px)
        rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg) translateX(100px)
        rotate(-360deg);
    }
  }
}