.footer-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px 100px; */
}

.footer-container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../../../../assets/footer/footer.png) no-repeat center;
  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}
.contact-box {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: #0b0b0c;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
  background: url(../../../../assets/footer/footer.png) no-repeat center;
  background-size: cover;
  height: 100%;
  @media (min-width: 768px) {
    padding: 3rem 8rem;
  }
  @media (max-width: 768px) {
    padding: 3rem 2rem;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Invert the color of the icon */
  }

  & h2 {
    color: #fff;
    position: relative;
    margin-bottom: 3rem;
    font-size: calc(1.325rem + 0.3vw);

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0%;
      border: 1px solid #daa05d;
      z-index: 1;
      width: 90px;
      height: 90px;
      margin-right: auto;
      transform: translateY(-50%);
      border-radius: 50%;
      overflow: hidden;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0%;
      left: 0%;
      z-index: 2;
      width: 10px;
      height: 10px;
      background-color: #fff;
      margin-right: auto;
      transform: translateY(-50%);
      border-radius: 50%;
      overflow: hidden;
    }
  }
}

.right {
  padding: 25px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  border-bottom: 1px solid #daa05d;
  background-color: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-family: "Microsoft YaHei", sans-serif;
  margin-bottom: 22px;
  transition: 0.3s;
  color: #fff !important;
}

input::placeholder {
  color: #fff;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
  outline: none;
  background-color: transparent;
}

@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    height: 100%;
  }
}

.contact-outer-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.contact-dot-container {
  position: relative;
  width: 120px;
  height: 120px;
  border: 1px solid rgba(218, 160, 93, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  & p {
    position: absolute;
    font-size: clamp(20px, 1vw, 35px);
    font-weight: 400;
    color: #fff;
    margin: 0 !important;
    font-family: "Copperplate", sans-serif;
    z-index: 2;
  }
  & p:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  }
}
.contact-inner-circle {
  position: relative;
  width: 90px;
  height: 90px;
  border: 1px solid rgba(218, 160, 93, 0.5);
  border-radius: 50%;
  transform: translate(-13%, -10%);
  background-color: rgba(28, 28, 28, 1);
  z-index: 1;
}

.contacting-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  animation: circle2 5s linear infinite;
}
@keyframes circle2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(60px) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(60px)
      rotate(-360deg);
  }
}
